.signin {
  display: flex;
  background-image: url("https://picsum.photos/1500/1000?image=885&blur=50");
  height: 100vh;
  width: 100vw;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.signin>div {
  border-radius: 5%;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-color: rgba(50, 50, 50, .5);
}

.signin>div>div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color: white
}

.signin button {
  border-radius: 5px;
  border: none;
}
